if [ -d .venv ]; then
  source .venv/bin/activate
else
  echo "⚠️  No .venv found. Run: make setup"
fi

export PATH="$(pwd)/.venv/bin:$PATH"

export TF_VAR_ansible_dir="$(pwd)/ansible"
export TF_PROJECT_PATH=$(pwd)/terraform

export ANSIBLE_CONFIG="$(pwd)/ansible/ansible.cfg"

VENV_SITE_PACKAGE_PATH=$(python -c "import sysconfig; print(sysconfig.get_paths()['purelib'])")
export ANSIBLE_COLLECTIONS_PATH=${VENV_SITE_PACKAGE_PATH}/ansible_collections
