if [ -d .venv ]; then
  source .venv/bin/activate
else
  echo "⚠️  No .venv found. Run: make setup"
fi

export PATH="$(pwd)/.venv/bin:$PATH"

export ANSIBLE_DIR="$(pwd)/ansible"
export ANSIBLE_CONFIG="$(pwd)/ansible/ansible.cfg"

export TF_PROJECT_PATH=$(pwd)/terraform
export TF_VAR_ansible_dir=${ANSIBLE_DIR}

VENV_SITE_PACKAGE_PATH=$(python -c "import sysconfig; print(sysconfig.get_paths()['purelib'])")
export ANSIBLE_COLLECTIONS_PATH=${VENV_SITE_PACKAGE_PATH}/ansible_collections:~/.ansible/collections
# export ANSIBLE_ROLES_PATH="${ANSIBLE_DIR}/roles:~/.ansible/roles:${VENV_SITE_PACKAGE_PATH}/ansible_collections/kubernetes_sigs/kubespray/roles"
