# === Core Ansible (stable, compat Kubespray & Geerlingguy) ===
ansible-core==2.17.14
ansible-lint
yamllint==1.35.1

# === Molecule + plugins ===
molecule==24.8.0
molecule-plugins[docker,ansible,default]
pytest==8.3.3
rich==13.9.2

# === Terraform / infra tooling ===
python-terraform==0.10.1
jmespath==1.0.1

# === Kubespray & inventory dynamic ===
netaddr==1.3.0
jinja2==3.1.4
cryptography==43.0.0

# === Helpers / utilities ===
requests==2.32.3
PyYAML==6.0.2
six==1.16.0         # (utile pour rôles anciens, mais pas cassé)
packaging==24.1
distlib