[masters]
%{ for n in masters ~}
${ n.name } ansible_host=${ n.ip } role=${ n.role }
%{ endfor ~}

[workers]
%{ for n in workers ~}
${ n.name } ansible_host=${ n.ip } role=${ n.role }
%{ endfor ~}

[all:vars]
ansible_user=${ ansible_user }
ansible_ssh_private_key_file=${ ansible_ssh_private_key_file }
cluster_name=${ cluster_name }